// К каким css свойствам нужны префиксы? сделать к ним миксины
$colMain: #5995DD;
$colMTwo: #1E3D6B;
$colMThee: #2C5E9E;
$colMFour: #ffc400;
$colMFive: #D7DDE2;
$colMSix: #6500a0;
$colFont-light: #F6F8F8;
$colFont-dark: #132b4f;
$colButtonHover: #2EE59D;
$colButtonBorderHover: #00ff0d;
$colButtonShadow: rgba(46,229,157,.4);
$colInputFocus: #004a92;
$colFocus: #ff009c;
$h2Large: 3rem;
$h2Medium: 2.6rem;
$h2Mob-Small: 2.1rem;
$h3Large: 2.1rem;
$h3Medium: 1.85rem;
$h3MobMedium: 1.5rem;
$h3Small: 1.2rem;
$pLarge: 1.6rem;
$pMedium: 1.3rem;
$pSmall: 1rem;
$pMob-Small: 0.8rem;

@mixin button ($fS, $col, $colBg, $padd...){
    display: inline-block;
    text-decoration: none;
    font-size: $fS;
    color: $col;
    background-color: $colBg;
    padding: $padd;
    @content;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
main {
    background-color: $colMain;
}
.img-responsive {
    display: inline-block;
    max-width: 100%;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: 1.4;
}
/* a11y подсветка фокуса */
header a:focus,
.section-home article a:focus,
.section-about article a:focus,
.section-happy .container a:focus,
.section-portfolio .container .discription button:focus,
.section-portfolio .container .set-of-works a:focus,
.section-application-fomr .container article button:focus {
    outline-color: $colFocus;
}
@import "header/header";

.section-home .container {
    background-color: $colMThee;
    border-top: 1px solid $colMThee;
    position: relative;
    padding-bottom: 1px;
    article {
        margin: 15% 15% 20%;
        color: $colFont-light;
        h1 {
            font-size: $h2Large;
        }
        p {
            font-size: $pLarge;
            margin: 15px 0 25px 0;
        }
        & > a {
            @include button($pMedium, $colFont-light, $colMTwo, 0.75em 1.75em);
            border-radius: 20px;
            transition: .3s;
            &:hover {
                background-color: $colButtonHover;
                color: black;
                box-shadow: 0 15px 20px $colButtonShadow;
                transform: translateY(-7px) scale(1.05);
            }
        }
        .social {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 2% 3% 2%;
            a {
                display: inline-block;
                color: black;
                line-height: 0;
                .icon-vk {
                    font-size: 3.65rem;
                    transition: .3s;
                    &:hover {
                        color: $colMFour;
                    }
                }
            }
        }
    }
}
/* ************************************************** About me ************************************ */
.section-about .container {
    background-color: $colMain;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    .my-photo-about {
        flex-basis: 40%;
        img {
            margin: 10px 0;
            border-radius: 10px;
        }
    }
    article {
        flex-basis: 45%;
        .h2-first {
            font-size: $h2Large;
            color: $colFont-dark;
        }
        h3 {
            font-size: $h3Large;
            color: $colFont-dark;
        }
        p {
            font-size: $pLarge;
            margin: 0.5em 0;
        }
        .container-img-about {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 5% 0;
            figure {
                text-align: center;
                figcaption {
                    font-size: $pLarge;
                    margin-bottom: 0.5em;
                }
                img {
                    max-height: 150px;
                }
            }
            .figure-second {
                margin: 0 10px;
            }
        }
        a {
            @include button($pMedium, $colFont-light, $colMTwo, 0.75em 1.75em);
            border-radius: 20px;
            transition: .3s;
            &:hover {
                background-color: $colButtonHover;
                color: black;
                box-shadow: 0 15px 20px $colButtonShadow;
                transform: translateY(-7px) scale(1.05);
            }
        }
    }
}
/* ****************************************** section happy *************************************** */
.section-happy {
    max-width: 1600px;
    margin: 0 auto;
    /* ( ../ ) такой синтаксис при задании пути решил проблему с отображением bg */
    background-image: url(../images/backgrounds/hands.jpg);
    background-size: cover;
    background-position: center center;
    .container {
        /* Создает фильтр для фото на bg */
        // background-color: rgba(30, 61, 107, 0.795);
        background-color: transparentize($colMTwo, 0.2);
        text-align: center;
        padding-top: 1px;
        h2 {
            font-size: $h2Medium;
            color: $colFont-light;
            margin: 4% 0 1%;
        }
        a {
            display: inline-block;
            padding: 1.25em 4em;
            border: 1px solid $colFont-light;
            border-radius: 10px;
            margin: 2em 3em;
        }
    }
}
/* ***************************************** section Portfolio ***************************************** */
.section-portfolio .container {
    background-color: $colMTwo;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .discription {
        background-color: $colMFour;
        color: $colFont-dark;
        flex-basis: 30%;
        h2 {
            font-size: $h2Medium;
            margin: 30% 1.5rem 10px;
        }
        p {
            font-size: $pMedium;
            margin: 3% 1.5rem 1%;
        }
        button {
            font-size: $pMedium;
            background-color: $colMFour;
            border: none;
            margin: 25px 30px 30%;
            cursor: pointer;
        }
    }
    .set-of-works {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
        flex-basis: 70%;
        a {
            flex-basis: 250px;
            margin: 20px 20px;
        }
        .battonSeeMore {
            @include button($pMedium, $colFont-light, $colMThee, 0.75em 1.75em);
            border: 1px solid $colMain;
            border-radius: 20px;
            text-align: center;
            transition: .3s;
            &:hover {
                background-color: $colButtonHover;
                color: black;
                border: 1px solid $colButtonBorderHover;
                box-shadow: 0 15px 20px $colButtonShadow;
                transform: translateY(-7px) scale(1.05);
            }
        }
    }
}
/* ********************************************** Application (Let's work?) ******************************** */
.section-application-fomr .container {
    text-align: center;
    article {
        max-width: 940px;
        margin: 0 auto;
        padding-bottom: 1px;
        h2 {
            margin: 5%;
            font-size: $h2Medium;
            color: $colFont-dark;
        }
        form {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin-bottom: 5%;
            label {
                font-size: $pMedium;
            }
            input {
                font-size: $pMedium;
                margin: 10px;
                padding: 5px 10px;
                border: 1px solid $colMTwo;
                border-radius: 5px;
                background-color: $colMFive;
                &:focus {
                    box-shadow: 0 0 3pt 2pt $colInputFocus;
                }
            }
        }
        button {
            @include button($pMedium, $colFont-light, $colMTwo, 0.75em 1.75em);
            font-family: "Times New Roman";
            border: none;
            cursor: pointer;
            border-radius: 20px;
            margin-bottom: 20px;
            transition: .3s;
            &:hover {
                background-color: $colButtonHover;
                color: black;
                box-shadow: 0 15px 20px $colButtonShadow;
                transform: translateY(-7px) scale(1.05);
            }
        }
    }
}
@import "footer/footer";
/* ************************************************************* Медиа */
@media (max-width: 980px) {
    .section-home .container article {
        h1 {
            font-size: $h2Medium;
        }
        p {
            font-size: $pMedium;
        }
        & > a {
            font-size: $pSmall;
        }
        .social a .icon-vk {
            font-size: 2.65rem;
        }
    }
    /* ************************* */
    .section-about .container article {
        .h2-first {
            font-size: 2.6rem;
        }
        p {
            font-size: $pMedium;
            margin: 0 0 0.5em 0;
        }
        h3 {
            font-size: $h3Medium;
        }
        .container-img-about {
            margin: 0.5em 0 1em 0;
            figure figcaption {
                font-size: $pMedium;
            }
        }
        a {
            font-size: $pSmall;
        }
    }
    /* ************************** */
    .section-happy .container h2 {
        font-size: $h2Mob-Small;
    }
    /* ************************** */
    .section-portfolio .container .discription {
        flex-basis: 50%;
        h2 {
            font-size: $h2Mob-Small;
        }
        p {
            font-size: $pSmall;
        }
        button {
            font-size: $pSmall;
        }
    }
    .section-portfolio .container .set-of-works {
        flex-basis: 50%;
        a {
            flex-basis: 150px;
            margin: 10px;
        }
        .battonSeeMore {
            font-size: $pSmall;
        }
    }
    /* ************************** */
    .section-application-fomr .container article {
        h2 {
            font-size: $h2Mob-Small;
        }
        form {
            label {
                font-size: $pSmall;
            }
            input {
                font-size: $pSmall;
            }
        }
        button {
            font-size: $pSmall;
        }
    }
}
@media (max-width: 768px) {
    .section-about .container {
        .my-photo-about {
            display: none;
        }
        article {
            flex-basis: 90%;
            margin: 1em 0;
            text-align: center;
        }
    }
}
@media (max-width:580px) {
    header {
        nav {
            display: none;
            margin: 0;
        }
        .wrapperMobNav {
            display: flex;
            .navMobile {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
            }
            img {
                margin: 10px 0;
            }
        }
    }
}
@media (max-width: 480px) {
    header .wrapperMobNav {
        img {
            height: 35px;
        }
        .navMobile {
            .icon-menu {
                font-size: 35px;
            }
            &:hover .ulMobile {
                top: 45px;
            }
        }
    }
    /* ********************** */
    .section-home .container article {
        h1 {
            font-size: $h2Mob-Small;
        }
        p {
            font-size: $pSmall;
        }
        & > a {
            font-size: $pMob-Small;
        }
        .social a .icon-vk {
            font-size: 1.65rem;
        }
    }
    /* ********************** */
    .section-about .container article {
        .h2-first {
            font-size: $h2Mob-Small;
        }
        p {
            font-size: $pSmall;
        }
        h3 {
            font-size: $h3MobMedium;
        }
        .container-img-about figure figcaption {
            font-size: $pSmall;
        }
        a {
            font-size: $pMob-Small;
        }
    }
    /* ********************** */
    .section-portfolio .container {
        flex-flow: column nowrap;
        .discription {
            text-align: center;
            h2 {
                margin: 1.5rem 1.5rem 10px;
            }
            button {
                margin: 0.5rem 30px 1.5rem;
            }
        }
        .set-of-works .battonSeeMore {
            font-size: $pMob-Small;
        }
    }
    /* ******************** */
    .section-application-fomr .container article button {
        font-size: $pMob-Small;
    }
}